/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&family=Nanum+Gothic&display=swap');

.section_05 {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: auto;
    min-height: 562px;
    padding: 57px 0;
}

.layout, .layout2 {
    display: block;
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.section_05 .title_w {
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 50px;
}

.section_05 .title_w .tt01 {
    display: block;
    font-size: 60px;
    color: #000;
    vertical-align: middle;
    color: #000;
    font-family: "Black Han Sans", sans-serif;
}

.thema_bg_w2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    text-align: center;
}

.card-group {
	width: 50%;
	height: 450px;
}

.post-slider{
  width:70%;
  margin:0px auto;
  position:relative;
}

.post-wrapper {
	width:350px;
	height:500px;
	background-color:skyblue;
	text-align:center;
	}
	
.post-slider .post-wrapper{

  width:84%;
  height:350px;
  margin:0px auto;
  overflow: hidden;
  padding:10px 0px 10px 0px;
}

.post-slider .post-wrapper .post{
  width:300px;
  height:300px;
  margin:0px 10px;
  display:inline-block;
  background:white;
  border-radius: 5px;
}

.post-slider .post-wrapper .post .post-info{
  font-size:15px;
  height:30%;
  padding-left:10px;
}

.post-slider .post-wrapper .post .slider-image{
  width:100%;
  height:175px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  object-fit: cover;
}

/* 화살표 색상 변경*/
.slick-prev:before, .slick-next:before{
  color: black !important;
  opacity: 1 ; 
}
/* 화살표 위치 변경 */
.slick-prev{
  left: 20px !important ;
  z-index: 9 ;
}
.slick-next{
  right: 20px !important ;
  z-index: 9 ;  
}
