<!DOCTYPE html>
<!-- thymeleaf dialect 적용 -->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}"
 	  lang="ko-kr"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">    
    <title>Document</title>
    
    <!-- <link th:href="@{/css/member_join.css}" rel="stylesheet" /> -->
    
    <!-- AJAX library axios -->
    <script th:src="@{'/axios/1.5.0/dist/axios.min.js'}"></script>

    <!-- 주소 검색 서비스 -->

    <!-- 1단계 : daum 우편번호 서비스 외장 JS(Javascript) 파일 링크 -->
    <!-- 주의사항) 주소 검색 서비스는 일반적으로 서버(가령 live 서버) 없이 
         실행시 오류가 발생할 수 있기 때문에 반드시 서버가 있는 상황에서 실행시키시기 바랍니다. -->
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>

    <!-- 2단계 : 소스 코드 복사 
        // javateacher) 본 회원가입 코드에서는 도로명으로 선택하든 지번 주소로 선택하든
        // 일괄적으로 도로명으로 기본주소가 들어가도록 설정하였습니다. 추후 지번 주소와
        // 같이 송부하기 위해서는 아래의 코드를 약간 변경하여 지번주소가 들어갈 필드를 
        // 추가하시면 되겠습니다. -->
    <script th:src="@{'/js/member_join.js'}" charset="UTF-8"></script>
    
    <!-- 메시징 -->
    <script th:inline="javascript" th:if="${msg != null}">
		alert([[${msg}]]);
	</script>
</head>
<body>

	<!-- layout -->
	<div layout:fragment="content" class="main_sect_pnl">
	
		<div class="content_sect_pnl">
	
		    <!-- 회원 가입 -->
		    <div id="form_content_pnl">
		        
		        <div id="form_content_box" class="w-50 mx-auto">
		        	<a th:href="@{/}">
		        	<img class="mb-3 my-4" th:src="@{/img/camping_logo.png}" alt="" width="175" height="175">
		        	</a>
		         	<h1 class="h3 mb-3 fw-normal">회원 가입</h1>
		
		            <form id="frm" th:action="@{'/member/joinProc.do'}" method="post" autocomplete="off" th:object="${memberDTO}">
		                    
		                <!-- 회원 아이디-->	
		                <div id="id_fld_pnl" class="row mb-3">
		                	
		                    <div class="fld_label col-2 pt-1">
		                        <label for="id">아이디</label>
		                    </div>
		                    
		                    <div class="fld_content col-10">
		                        <input type="text" class="form-control" id="id" name="id" maxlength="20" th:field="*{id}" 
		                        	placeholder="회원 아이디는 8~20사이의 영문으로 시작하여 영문 대소문자/숫자로 입력하십시오." />       
		                    </div>		
		                    					
		                </div>						
		                
		                <!-- 회원 아이디 에러 메시징 -->
		                <div id="id_fld_err_pnl">
		                </div>
		                <!--// 회원 아이디-->
		                
		                <!-- 회원 패쓰워드 -->	
		                <div id="pw_fld_pnl" class="row mb-3">	
		                
		                    <div class="fld_label col-2 pt-1">
		                        <label for="password">패쓰워드</label>
		                    </div>
		                    
		                    <div class="fld_content col-10">
		                        <!-- <input type="password" id="password" name="password" title="" /> -->
		                        <input type="text" class="form-control" id="password" name="password" maxlength="20" th:field="*{password}" 
		                        	placeholder="회원 패쓰워드는 영문 대소/숫자/특수문자 1개이상 포함하여 8~20자로 작성하십시오." />
		                    </div>
		                    
		                </div>
		                
		                <!-- 회원 패쓰워드 에러 메시징 -->
		                <div id="password_fld_err_pnl">
		                </div>
		                <!--// 회원 패쓰워드 -->
		                
		                <!-- 회원  이름-->
		                <!-- 이름 용례 추가 -->	
		                <div id="name_fld_pnl" class="row mb-3">	
		                
		                    <div class="fld_label col-2 pt-1">
		                        <label for="name">이름</label>
		                    </div>
		                    
		                    <div class="fld_content col-10 pt-1">
		                        <input type="text" class="form-control" id="name" name="name" th:field="*{name}" 
		                         	placeholder="예시) 홍 길동, 남궁 민수 (성과 이름을 띄워쓰십시오)"/>		                        
		                    </div>    
		                    
		                </div>
		            
		                <!-- 회원 이름 에러 메시징 -->
		                <div id="name_fld_err_pnl">
		                </div>
		                <!--// 회원 이름 -->
		                
		                <!-- 회원 성별 -->	
		                <div id="gender_fld_pnl" class="row mb-3">	
		                
		                    <div class="fld_label col-2 pt-1">
		                        <label>성별</label>
		                    </div>
		                    
		                    <div class="fld_content row col-10 pt-1">  
		                        
		                        <div class="form-check col-1 ms-3">                  
		                        	<input type="radio" class="form-check-input" id="radio1" name="gender" value="m" th:field="*{gender}" />
		                        	<label class="form-check-label" for="radio1">남</label>
	                        	</div>
		                                                        
		                        <div class="form-check col-1 ms-3">
		                        	<input type="radio" class="form-check-input" id="radio2" name="gender" value="f" th:field="*{gender}">
			                        <label class="form-check-label" for="radio2">여</label>
		                        </div>
		                        
		                    </div>
		                    
		                </div>                     
		                    
		                <!-- 회원 성별 에러 메시징 -->
		                <div id="gender_fld_err_pnl">
		                </div>
		                <!--// 회원 성별 -->
		                
		                <!-- 회원 나이(연령) -->
		                <div id="age_fld_pnl" class="row mb-3">	
		                
		                    <div class="fld_label col-2 pt-1">
		                        <label>나이(연령)</label>
		                    </div>
		                    
		                    <div class="fld_content col-10">                        
		                        
		                        <select	class="form-select w-25" id="age" name="age">
		                        	<option selected>20</option>
		                        	<option th:each="i : ${#numbers.sequence(1,100)}" 
		                        		    th:text="${i}">		                        	
		                        	</option>		                        	
		                        </select>   
		                         
		                    </div>
		                </div>
		                <!--// 회원 나이(연령) -->    
		                    
		                <!-- 회원 이메일 -->	
		                <div id="email_fld_pnl" class="row mb-3">	
		                
		                    <div class="fld_label col-2 pt-1">
		                        <label for="email">이메일</label>
		                    </div>    
		                    
		                    <div class="fld_content col-10">
		                        <input type="email" class="form-control" id="email" name="email" th:field="*{email}" 
		                        	placeholder="예시) abcd@abcd.com" />		                        
		                    </div>
		                </div>
		                    
		                <!-- 회원 이메일 에러 메시징 -->
		                <div id="email_fld_err_pnl">
		                </div>
		                <!--// 회원 이메일 -->
		                    
		                <!-- 회원  연락처(휴대폰) -->	
		                <div id="mobile_fld_pnl" class="row mb-3">	
		                
		                    <div class="fld_label col-2 pt-1">
		                        <label for="mobile">휴대폰</label>
		                    </div>
		                    
		                    <div class="fld_content  col-10">
		                        <input type="text" class="form-control" id="mobile" name="mobile" th:field="*{mobile}"
		                        	placeholder="예시) 010-1234-5678"/>		                        
		                    </div>   
		                     
		                </div>                    
		                
		                <!-- 회원 연락처(휴대폰) 에러 메시징 -->
		                <div id="mobile_fld_err_pnl">
		                </div>
		                <!--// 회원 연락처(휴대폰) -->
		                
		                <!-- 회원  연락처(집전화) -->	
		                <div id="phone_fld_pnl" class="row mb-3">	
		                
		                    <div class="fld_label col-2 pt-1">
		                        <label for="phone">집전화</label>
		                    </div>
		                    
		                    <div class="fld_content col-10">
		                        <input type="text" class="form-control" id="phone" name="phone" th:field="*{phone}"
		                        	placeholder="예시) 02-1111-2222"/>		                        
		                    </div>    
		                </div>                    
		                
		                <!-- 회원  연락처(집전화) 에러 메시징 -->
		                <div id="phone_fld_err_pnl">
		                </div>
		                <!--// 회원 연락처(집전화) -->
		                    
		                <!-- 회원  우편번호 -->	
		                <div id="zip_fld_pnl" class="row mb-3">	
		                
		                    <div class="fld_label col-2 pt-1">
		                        <label for="zip">우편번호</label>
		                    </div>
		                    
		                    <div class="fld_content col-10 row">
		                    
		                    	<div class="col-2">
		                        	<input type="text" class="form-control" id="zip" name="zip" style="width:100px;" readonly />
		                        </div>
		                        
		                        <!-- 주소 검색 -->
		                        <div class="col-2 ps-3">
		                        	<button type="button" class="btn btn-primary" id="address_search_btn" onclick="getPostcodeAddress()">주소 검색</button>
		                        </div>
		                        
		                        <div class="col-2 ps-0">	
		                        	<button type="button" class="btn btn-primary" id="address_delete_btn">주소 삭제</button>
		                        </div>
		                        	
		                    </div>  
		                                      
		                </div>
		                <!--// 회원 우편번호 -->
		                    
		                <!-- 회원 기본 주소(도로명) -->	
		                <div id="road_address_fld_pnl" class="row mb-3">	
		                
		                    <div class="fld_label col-2 pt-1">
		                        <label for="roadAddress">도로명 주소</label>
		                    </div>
		                    
		                    <div class="fld_content col-10">
		                        <input type="text" class="form-control" id="roadAddress" name="roadAddress" style="width:500px" readonly th:field="*{roadAddress}" />
		                    </div>
		                    
		                </div>
		                
		                <!-- 회원 기본 주소(지번) -->	
		                <div id="jibun_address_fld_pnl" class="row mb-3">	
		                
		                    <div class="fld_label col-2 pt-1">
		                        <label for="jibunAddress">지번 주소</label>
		                    </div>    
		                    
		                    <div class="fld_content col-10">
		                        <input type="text" class="form-control" id="jibunAddress" name="jibunAddress" style="width:500px" readonly th:field="*{jibunAddress}" />
		                    </div>
		                    
		                </div>
		                
		                <!-- 회원 상세주소 에러 메시징 : 우편번호/기본주소 입력시 상세주소 미입력할 경우 -->
		                <div id="address_fld_err_pnl">
		                </div>
		                <!--// 회원 기본 주소 -->
		                
		                <!-- 회원 상세 주소 -->	
		                <div id="detail_address_fld_pnl" class="row mb-3">
		                	
		                    <div class="fld_label col-2 pt-1">
		                        <label for="detailAddress">상세주소</label>
		                    </div>    
		                    
		                    <div class="fld_content col-10">
		                        <input type="text" class="form-control" id="detailAddress" name="detailAddress" style="width:400px" th:field="*{detailAddress}" />
		                    </div>
		                    
		                </div>
		                
		                <!-- 회원 상세주소 에러 메시징 : 우편번호/기본주소 입력시 상세주소 미입력할 경우 -->
		                <div id="address_fld_err_pnl">
		                </div>
		                <!--// 회원 상세주소 -->
		                
		                <!-- 회원 생일 -->	
		                <div id="birthday_fld_pnl" class="row mb-3">	
		                
		                    <div class="fld_label col-2 pt-1">
		                        <label for="birthday">생일</label>
		                    </div>    
		                    
		                    <div class="fld_content col-10">
		                        <input type="text" class="form-control w-50" id="birthday" name="birthday" maxlength="10" 
		                        	placeholder="예시) 2000-01-01, 1999-12-10"/>		                        
		                    </div>
		                </div>
		                
		                <!-- 회원 생일 에러 메시징 -->
		                <div id="birthday_fld_err_pnl">
		                </div>
		                <!--// 회원 생일 -->
		                
		                <!-- 회원  가입/취소 버튼 -->	
		                <div id="buttons_fld_pnl" class="row mt-4 mb-3 d-flex justify-content-center">
		                
		                	<div class="col-2 pe-0 d-flex justify-content-end">
		                    	<button id="submit_btn" class="btn btn-primary" type="submit">회원 가입</button>&nbsp;
		                    </div>
		                    
		                    <div class="col-2">
		                    	<button id="reset_btn" class="btn btn-primary" type="reset">취소</button>
		                    </div>
		                </div>
		                <!--// 회원 가입/취소 버튼 -->
		            
		            </form>
		
		        </div>
		    
		    <!--// thymeleaf dialect -->    
		    </div>
		    <!-- content -->    
	        
	    </div>
	    <!--// 회원 가입 -->
    
    </div>
    <!--// layout -->
    
</body>
</html>