
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
<meta charset="utf-8">
<title>주소로 장소 표시하기</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=902b7b97c1c375075b85e37ed1d667bf"></script>

<script>
	$(function() {

		// https://developers.kakaomobility.com/docs/navi-api/directions/
		// 
		// curl -v -X GET "https://apis-navi.kakaomobility.com/v1/directions?origin=127.11015314141542,37.39472714688412&destination=127.10824367964793,37.401937080111644&waypoints=&priority=RECOMMEND&car_fuel=GASOLINE
		//			&car_hipass=false&alternatives=false&road_details=false" 
		//	 -H "Authorization: KakaoAK KAKAO REST API KEY"
		console.log("테스트");

		let region = document.getElementById("region");
		let thema = document.getElementById("thema");
		let searchWord = document.getElementById("searchWord");
		
		console.log("지역:",region.value)
		console.log("테마:",thema.value)
		console.log("검색어:",searchWord.value)
		
		var container = document.getElementById('map');
		var options = {
			// 기본값 : 신림역
			center: new kakao.maps.LatLng(37.484269, 126.929676),
			level: 1
		};

		var map = new kakao.maps.Map(container, options);
		
		
		/////////////////////////////////////////////////////////////////////////////
		
		let campJSON = "[[${#lists.isEmpty(campList)==true ? '': campList}]]";

		if (campJSON.trim() != "") {
			
			campJSON = campJSON.replaceAll('&quot;', '"').replaceAll("]]", "]"); // JSON 수신 자료 중 불순물 제거

			console.log("campJSON : ", campJSON);

			console.log("내용이 있다면...");

			let camps = JSON.parse(campJSON.trim());

			console.log("camps : ", camps[0]);

			var container = document.getElementById('map');

			var options = {
				center: new kakao.maps.LatLng(camps[0].latitude, camps[0].longitude),
				level: 8
			};

			var map = new kakao.maps.Map(container, options);

			// 다중 마커 표시
			var positions = [];

			// 클릭한 마커를 담을 변수
		    let selectedMarker = null;

			// 마커 이미지
			var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

			 // 마커 이미지의 이미지 크기 입니다
		    var imageSize = new kakao.maps.Size(24, 35);

		    // 마커 이미지를 생성합니다
		    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

		    var camp = { title : '', latlng : '' };

			for (var i=0; i<camps.length; i++) {

				camp.title = camps[i].campName;
				camp.latlng = new kakao.maps.LatLng(camps[i].latitude, camps[i].longitude);

				positions[i] = camp;

				 // 마커 생성
			    var marker = new kakao.maps.Marker({
			        map: map, // 마커를 표시할 지도
			        position: positions[i].latlng, // 마커를 표시할 위치
			        title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
			        image : markerImage // 마커 이미지
			    });


				////////////////////////////////////////////////////////////////////////////////////

				(function(marker, title, i) { // 즉시 실행 함수 (중요 !)
				// 여기서 일반적인 함수 및 구문(루틴) 사용시 인자 전달 안되는 오류 있음

					// 마커에 마우스오버 이벤트를 등록합니다
					kakao.maps.event.addListener(marker, 'click', function() {

					    console.log("title : ", title);
					  	console.log("마커 : ", marker);
					  	console.log("마커 클릭 : ", marker.getTitle());

					  	// 해당 캠프장 상세 사항 가져오기
					  	console.log("캠프장 지번 주소 : ", camps[i].roadAddress);

						let result = document.getElementById("result");
						let campResult = `<table class="table">
										  <thead>
										    <tr>
										      <th scope="col">번호</th>
										      <th scope="col">캠핑장명</th>
										      <th scope="col">전화번호</th>
										      <th scope="col">주소</th>
										      <th scope="col">평일운영</th>
										      <th scope="col">주말운영</th>
										      <th scope="col">취사시설</th>
										    </tr>
										  </thead>
										  <tbody>
											<tr>
										      <th scope="row">${i}</th>
										      <td>${camps[i].campName}</td>
										      <td>${camps[i].roadAddress}</td>
										      <td>${camps[i].roadAddress}</td>
										      <td>${camps[i].weekdayOpStatus}</td>
										      <td>${camps[i].weekendOpStatus}</td>
										      <td>${camps[i].glamCookware}</td>
										    </tr>
										  </tbody>
										</table>`;
						// 캠핑장 정보 출력
						result.innerHTML = campResult;

					});

				})(marker, camp.title, i) // 즉시 실행 함수 실인자

				/////////////////////////////////////////////////////////////////////////////

			} // for

		} // 전송 내용이 있을 경우
		else {

			// alert("캠핑장 검색 내용이 없습니다.");
		} //


		/////////////////////////////////////////////////////////////////////////////
		
		$("#search-btn").click(function(e) {
				
			alert("전송")
			
			$.ajax({
				method : 'get',
				url : '/campTeam/mapRest',
				data : {
					region : $('#region').val(),
					thema : $("#thema").val(),
					searchWord : $('#searchWord').val()
				}
			})
			.done(function(response, status, xhr) {

				alert(status);

				if (status == "nocontent") {

					alert("해당 정보가 없습니다.");

				} else if (status == 'success') {

					console.log("response : ", response);
					console.log("캠프장-1 : ", response[0]);
					console.log("캠프장-1 위도 : ", response[0].latitude);
					console.log("캠프장-1 경도 : ", response[0].longitude);

					var container = document.getElementById('map');

					var options = {
						center: new kakao.maps.LatLng(response[0].latitude, response[0].longitude),
						level: 8
					};

					var map = new kakao.maps.Map(container, options);

					// 다중 마커 표시
					var positions = [];

					// 마커 이미지
					var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

					 // 마커 이미지의 이미지 크기 입니다
				    var imageSize = new kakao.maps.Size(24, 35);

				    // 마커 이미지를 생성합니다
				    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

				    var camp = { title : '', latlng : '' };

					for (var i=0; i<response.length; i++) {

						camp.title = response[i].campName;
						camp.latlng = new kakao.maps.LatLng(response[i].latitude, response[i].longitude);

						positions[i] = camp;
						
					    // 마커 생성
					    var marker = new kakao.maps.Marker({
					        map: map, // 마커를 표시할 지도
					        position: positions[i].latlng, // 마커를 표시할 위치
					        title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
					        image : markerImage // 마커 이미지
					    });

						////////////////////////////////////////////////////////////////////////////////////

						(function(marker, title, i) { // 즉시 실행 함수 (중요 !)
						// 여기서 일반적인 함수 및 구문(루틴) 사용시 인자 전달 안되는 오류 있음

							// 마커에 마우스오버 이벤트를 등록합니다
							kakao.maps.event.addListener(marker, 'click', function() {

							    console.log("title : ", title);
	 						  	console.log("마커 : ", marker);
	 						  	console.log("마커 클릭 : ", marker.getTitle());

	 						  	// 해당 캠프장 상세 사항 가져오기
	 						  	console.log("캠프장 지번 주소 : ", response[i].roadAddress);

								//////////여기서 추가해서 결과값 
								let result = document.getElementById("result");
								
								let campResult = `<table class="table">
												  <thead>
												    <tr>
												      <th scope="col">번호</th>
												      <th scope="col">캠핑장명</th>
												      <th scope="col">전화번호</th>
												      <th scope="col">주소</th>
												      <th scope="col">평일운영</th>
												      <th scope="col">주말운영</th>
												      <th scope="col">취사시설</th>
												    </tr>
												  </thead>
												  <tbody>
													<tr>
												      <th scope="row">${i}</th>
												      <td>${response[i].campName}</td>
												      <td>${response[i].phone}</td>
												      <td>${response[i].roadAddress}</td>
												      <td>${response[i].weekdayOpStatus}</td>
												      <td>${response[i].weekendOpStatus}</td>
												      <td>${response[i].glamCookware}</td>
												    </tr>
												  </tbody>
												</table>`;
								// 캠핑장 정보 출력
								result.innerHTML = campResult;

							});

						})(marker, camp.title, i) // 즉시 실행 함수 실인자

						/////////////////////////////////////////////////////////////////////////////

					} // for
				} // success (http status 200)

			}) // done
			.fail(function(data, status, xhr) { // 요청에 대한 응답 실패시

				// alert(data.status);
				alert("서버에 문제가 발생하였습니다.");
				console.log("data : ", data);
				console.log("상태 코드 : ", data.status);
				console.log("xhr : ", xhr);
			})
		}); // ajax
		
		////////////////////////////////////////////////////////
		
			
	});
</script>

</head>

<body>
	<div layout:fragment="content">
	
		<div class="border border-secondary my-5 w-75 mx-auto">

			<div class="row w-100 ps-0">

				<ul class="row mb-2 list-unstyled list-group list-group-horizontal">

					<li class="col-6 pt-2 mt-4 ms-4 ps-4 me-0 px-0">
						<strong>지역</strong>
						<div class="mt-3 mx-0 px-0">
							<select id="region" name="region" class="form-select">
								<option>경기 북부</option>
								<option>경기 남부</option>
							</select>
						</div></li>

					<li class="col-5 pt-2 mt-4 ms-5 me-0 px-0">
						<strong>주변시설</strong>
						<div class="mt-3 mx-0 px-0">
							<select id="thema" name="thema" class="form-select">
								<option>체험시설</option>
								<option>계곡</option>
								<option>낚시</option>
								<option>놀이시설</option>
								<option>수영장</option>
								<option>산책로</option>
								<option>수상레저</option>
								<option>해당없음</option>
							</select>
						</div></li>
				</ul>
			</div>

			<div class="row mx-auto mt-1 mb-3 ps-3">
				<ul class="list-unstyled">
					<li class="mt-2"><strong>키워드 검색</strong></li>
				</ul>
				<div class="flex justify-content-center col-6">
					<input type="text" id="searchWord" name="searchWord" class="form-control" placeholder="검색어를 입력하세요.">
				</div>
				<div class="flex justify-content-center col-3">
					<button id="search-btn" class="btn btn-dark" type="button">캠핑장 검색</button>
				</div>
			</div>
		</div>

		<!-- 캠핑장 정보  -->
		<div id="result" class="mx-auto my-4" style="width:1425px; height:200px; background-color:#fff"></div>
		
		<!-- 캠핑장 지도 정보  -->
		<div id="map" style="width: 100%; height: 600px;"></div>
		

		<!--/////////////////////////////////////////////////////////////////////  -->

		
		<!-- <script type="text/javascript"
			src="//dapi.kakao.com/v2/maps/sdk.js?appkey=902b7b97c1c375075b85e37ed1d667bf&libraries=services"></script>
		<script>
			var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
			mapOption = {
				center : new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
				level : 3
			// 지도의 확대 레벨
			};

			// 지도를 생성합니다    
			var map = new kakao.maps.Map(mapContainer, mapOption);

			// 주소-좌표 변환 객체를 생성합니다
			var geocoder = new kakao.maps.services.Geocoder();
		
			// 주소로 좌표를 검색합니다
			geocoder.addressSearch(
							'제주특별자치도 제주시 첨단로 242',
							function(result, status) {

								// 정상적으로 검색이 완료됐으면 
								if (status === kakao.maps.services.Status.OK) {

									var coords = new kakao.maps.LatLng(
											result[0].y, result[0].x);

									// 결과값으로 받은 위치를 마커로 표시합니다
									var marker = new kakao.maps.Marker({
										map : map,
										position : coords
									});
									
									

									// 인포윈도우로 장소에 대한 설명을 표시합니다
									var infowindow = new kakao.maps.InfoWindow(
											{
												content : '<div style="width:150px;text-align:center;padding:6px 0;">우리회사</div>'
											});
									infowindow.open(map, marker);

									// 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
									map.setCenter(coords);
								}
							});
		</script> -->
	</div>
</body>
</html>

