<!DOCTYPE html>
<!-- thymeleaf dialect -->
<html lang="ko-kr" 
      xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout}">
	  
<head>
<meta charset="UTF-8">
<title>home</title>

	<link th:href="@{'/css/home.css'}" rel="stylesheet" />
	<!-- <script th:src="@{'/js/home.js'}"></script> -->
	
</head>
<body>

	<div layout:fragment="content" class="main_sect_pnl">
	
	<span class="slideshow-container">
                 <div class="Slidesbackground">
                    <div class="mySlides fade">
                    <img src="img/main1.jpg" class="slideshow-image">
                    </div>
                    <div class="mySlides fade">
                        <img src="img/main2.jpg" class="slideshow-image">
                    </div>
                    <div class="mySlides fade">
                        <img src="img/main3.jpg" class="slideshow-image">
                    </div>
                </div>
             </span>
		<script th:src="@{'/js/home.js'}"></script>
		
		<!--타이틀-->
		<div class="m_title">
			<p class="m_title_01">
				<span>타이틀 대</span> 타이틀 소
			</p>
			<p class="s_title01">부타이틀 입력창</p>
			<!-- <p class="s_title01">고캠핑에는 3887개의 캠핑장 정보가 있습니다.</p>-->
		</div>
		<!--//타이틀-->
		
	
		<div class="search_box">
			<form class="search_box_form">
				<p class="tt">지역별 검색</p>
				<label class="skip" for="c_do">지역별</label> <select name="c_do" id="c_do" class="select_01" title="검색할 지역을 선택하세요.">
				<option value="">전체/도</option>
				<option value="1">서울시</option>
				<option value="2">경기도</option>
				</select>
				
				<label class="skip" for="c_do">방향 검색</label> <select name="c_do" id="c_do" class="select_01" title="검색할 지역을 선택하세요.">
				<option value="">방향</option>
				<option value="1">동</option>
				<option value="2">서</option>
				<option value="3">남</option>
				<option value="4">북</option>
				</select>
				
			<label class="skip" for="c_signgu">시군별 검색</label> <select name="c_signgu" id="c_signgu" class="select_02" title="검색할 지역을 선택하세요.">
			<option value="">전체/시/군</option></select>
			
			<div class="form1_2"><br><br>
			<p class="tt">테마별 검색</p>
			<label class="skip" for="searchLctCl">테마별</label> <select name="searchLctCl" id="searchLctCl" class="select_03" title="검색할 테마를 선택하세요.">
				<option value="">전체테마</option>
				<option value="47">해변</option>
				<option value="48">섬</option>
				<option value="49">산</option>
				<option value="50">숲</option>
				<option value="51">계곡</option>
				<option value="52">강</option>
				<option value="53">호수</option>
				<option value="54">도심</option>
				</select>
				<button type="submit" class="btnSearch_black01">검색</button>
					<!-- <button type="button" class="mylocation_tmv btn_none" onclick="geoFindMe(30, ''); return false;">내주변 캠핑장 검색</button> -->
				</div>
			</form>
			</div><br>
	<div class="container marketing">		
	<div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <h2 class="fw-normal">Heading</h2>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <h2 class="fw-normal">Heading</h2>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <h2 class="fw-normal">Heading</h2>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <h2 class="fw-normal">Heading</h2>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <h2 class="fw-normal">Heading</h2>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <h2 class="fw-normal">Heading</h2>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    </div>
		
</div>
		
</body>
</html>