<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Kakao 지도 시작하기</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=902b7b97c1c375075b85e37ed1d667bf"></script>

	<script>
	$(function() {

		var container = document.getElementById('map');
		var options = {
			// 기본값 : 신림역
			center: new kakao.maps.LatLng(37.484269, 126.929676),
			level: 1
		};

		var map = new kakao.maps.Map(container, options);
		
		/////////////////////////////////////////////////////////////////////////////

		let campJSON = "[[${campList}]]]";

		campJSON = campJSON.replaceAll('&quot;', '"').replaceAll("]]", "]"); // JSON 수신 자료 중 불순물 제거

		console.log("campJSON : ", campJSON);

		if (campJSON.trim() != "") {

			console.log("내용이 있다면...");

			let camps = JSON.parse(campJSON.trim());

			console.log("camps : ", camps[0]);

			var container = document.getElementById('map');

			var options = {
				center: new kakao.maps.LatLng(camps[0].latitude, camps[0].longitude),
				level: 8
			};

			var map = new kakao.maps.Map(container, options);

			// 다중 마커 표시
			var positions = [];

			// 클릭한 마커를 담을 변수
		    let selectedMarker = null;

			// 마커 이미지
			var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

			 // 마커 이미지의 이미지 크기 입니다
		    var imageSize = new kakao.maps.Size(24, 35);

		    // 마커 이미지를 생성합니다
		    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

		    var camp = { title : '', latlng : '' };

			for (var i=0; i<camps.length; i++) {

				camp.title = camps[i].campName;
				camp.latlng = new kakao.maps.LatLng(camps[i].latitude, camps[i].longitude);

				positions[i] = camp;

				 // 마커 생성
			    var marker = new kakao.maps.Marker({
			        map: map, // 마커를 표시할 지도
			        position: positions[i].latlng, // 마커를 표시할 위치
			        title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
			        image : markerImage // 마커 이미지
			    });


				////////////////////////////////////////////////////////////////////////////////////

				(function(marker, title, i) { // 즉시 실행 함수 (중요 !)
				// 여기서 일반적인 함수 및 구문(루틴) 사용시 인자 전달 안되는 오류 있음

					// 마커에 마우스오버 이벤트를 등록합니다
					kakao.maps.event.addListener(marker, 'click', function() {

					    console.log("title : ", title);
						  	console.log("마커 : ", marker);
						  	console.log("마커 클릭 : ", marker.getTitle());

						  	// 해당 캠프장 상세 사항 가져오기
						  	console.log("캠프장 지번 주소 : ", camps[i].roadAddress);

						let result = document.getElementById("result");
						result.innerHTML = camps[i].roadAddress;

					});

				})(marker, camp.title, i) // 즉시 실행 함수 실인자

				/////////////////////////////////////////////////////////////////////////////

			} // for

		} // 전송 내용이 있을 경우
		else {

			alert("캠핑장 검색 내용이 없습니다.");
		} //


		/////////////////////////////////////////////////////////////////////////////
		
		$("#search-btn").click(function() {

			// alert("클릭");

			$.ajax({
				method : 'get',
				url : '/campTeam/mapRest',
				data : {
					region : $('#region').val(),
					thema : $("#thema").val(),
					searchWord : $('#searchWord').val()
				}
			})
			.done(function(response, status, xhr) {

				alert(status);

				if (status == "nocontent") {

					alert("해당 정보가 없습니다.");

				} else if (status == 'success') {

					console.log("response : ", response);
					console.log("캠프장-1 : ", response[0]);
					console.log("캠프장-1 위도 : ", response[0].latitude);
					console.log("캠프장-1 경도 : ", response[0].longitude);

					var container = document.getElementById('map');

					var options = {
						center: new kakao.maps.LatLng(response[0].latitude, response[0].longitude),
						level: 8
					};

					var map = new kakao.maps.Map(container, options);

					// 다중 마커 표시
					var positions = [];

					// 클릭한 마커를 담을 변수
				    let selectedMarker = null;

					// 마커 이미지
					var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

					 // 마커 이미지의 이미지 크기 입니다
				    var imageSize = new kakao.maps.Size(24, 35);

				    // 마커 이미지를 생성합니다
				    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

				    let camp = { title : '', latlng : '' };

					for (var i=0; i<response.length; i++) {

						camp.title = response[i].campName;
						camp.latlng = new kakao.maps.LatLng(response[i].latitude, response[i].longitude);

						positions[i] = camp;

						 // 마커 생성
					    var marker = new kakao.maps.Marker({
					        map: map, // 마커를 표시할 지도
					        position: positions[i].latlng, // 마커를 표시할 위치
					        title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
					        image : markerImage // 마커 이미지
					    });


						////////////////////////////////////////////////////////////////////////////////////

						(function(marker, title, i) { // 즉시 실행 함수 (중요 !)
						// 여기서 일반적인 함수 및 구문(루틴) 사용시 인자 전달 안되는 오류 있음

							// 마커에 마우스오버 이벤트를 등록합니다
							kakao.maps.event.addListener(marker, 'click', function() {

							    console.log("title : ", title);
	 						  	console.log("마커 : ", marker);
	 						  	console.log("마커 클릭 : ", marker.getTitle());

	 						  	// 해당 캠프장 상세 사항 가져오기
	 						  	console.log("캠프장 지번 주소 : ", response[i].roadAddress);

								let result = document.getElementById("result");
								result.innerHTML = response[i].roadAddress;

							});

						})(marker, camp.title, i) // 즉시 실행 함수 실인자

						/////////////////////////////////////////////////////////////////////////////

					} // for

				} // success (http status 200)

			}) // done
			.fail(function(data, status, xhr) { // 요청에 대한 응답 실패시

				// alert(data.status);
				alert("서버에 문제가 발생하였습니다.");
				console.log("data : ", data);
				console.log("상태 코드 : ", data.status);
				console.log("xhr : ", xhr);
			})
		}); // ajax
	});
	</script>
</head>
<body>

	<div id="map" style="width:1300px; height:500px;"></div>

	<div id="result" style="width:1300px; height:100px; background-color:yellow">

	</div>

	<div style="margin-top:20px;">

		지역 : <select id="region" name="region">
		      	<option>경기 북부</option>
		      	<option>경기 남부</option>
			  </select>

			  <br><br>

		테마 : <select id="thema" name="thema">
				<option>체험시설</option>
								<option>계곡</option>
								<option>낚시</option>
								<option>놀이시설</option>
								<option>수영장</option>
								<option>산책로</option>
								<option>수상레저</option>
								<option>해당없음</option>
			  </select>

  			  <br><br>

		검색어 : <input type="text" id="searchWord" name="searchWord" placeholder="해당 지역을 입력하십시오. 예) 평택"/>

			  <br><br>

		<button id="searchBtn" type="button">전송</button>
	</div>

</body>
</html>